<div class="container-fluid" *ngIf = "!isSubmit">
    <div class="row">
        <div class="col-md-3">
            <!-- instruction goes here -->
            <mat-card class="text-center">
                <mat-card-header>
                    <mat-card-title>
                        Progress
                    </mat-card-title>
                    <mat-card-subtitle>
                        Quiz will be automatically submitted when timer reaches <b>0:0</b>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <h1>{{getFormattedTimer()}}</h1>
                    <mat-spinner 
                    class="mx-auto"
                    mode = "determinate"
                    [value] = "(timer/(this.questions.length * 2 * 60))*100"
                    ></mat-spinner>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2">
                <mat-card-header>
                    <mat-card-title>
                    <b>Instructions</b>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>
                            Do not refresh the page otherwise you will get new questions in this quiz.
                        </li>
                        <li>
                            Do not switch tabs.
                        </li>
                        <li>
                            Do not minimize the window.
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            
        </div>
        <div class="col-md-8">
            <!-- questions goes here -->
            <ng-container *ngIf = "questions">
                <mat-card>
                    <div class="text-center">
                        <h1>On Going Quiz : <span class="font-red">{{quizTitle}}</span></h1>
                    </div>
                </mat-card>
                <mat-card *ngFor = "let q of questions; let i = index" class="mt-2">
                    <div class="row">
                        <div class="col-md-1">
                            <h2><p>Q{{i + 1}})</p></h2>
                        </div>
                        <div class="col-md-11">
                            <h2><span [innerHTML] ="q.content"></span></h2>
                        </div>
                    </div>
                    <mat-divider class="bg-blue"></mat-divider>
                    <mat-card-content>
                        <div class="container mt-2">
                            <div class="row justify-content-around">
                                <div class="col-md-5 bg-option">
                                    <h3><input [(ngModel)] = "q.givenAnswer" type="radio" [value] = "q.option1" [name] = "i + 'a'"> {{q.option1}}</h3>
                                </div>
                                <div class="col-md-5 bg-option">
                                    <h3><input [(ngModel)] = "q.givenAnswer" type="radio" [value] = "q.option2" [name] = "i + 'a'"> {{q.option2}}</h3>
                                </div>
                            </div>
                            <div class="row justify-content-around">
                                <div class="col-md-5 bg-option">
                                    <h3><input [(ngModel)] = "q.givenAnswer" type="radio" [value] = "q.option3" [name] = "i + 'a'"> {{q.option3}}</h3>
                                </div>
                                <div class="col-md-5 bg-option">
                                    <h3><input [(ngModel)] = "q.givenAnswer" type="radio" [value] = "q.option4" [name] = "i + 'a'"> {{q.option4}}</h3>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>    
                </mat-card>
            </ng-container>
            <div class="text-center mt-2">
                <button mat-raised-button color = "primary" (click) = "submitQuiz()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf = "isSubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <div class="text-center font-red">
                        <h1>Result : </h1>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="text-center">
                        <h2>Marks Got : <b>{{marksGot}}</b></h2>
                        <h2>Correct Answers : <b>{{correctAnswers}}</b></h2>
                        <h2>Attempted : <b>{{attempted}}</b></h2>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-center">
                        <button mat-raised-button (click) = "printResult()" color = "primary">Print</button>
                        <button mat-raised-button [routerLink] = "'/user/0'" color = "accent">Home</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>