.profile-image {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid blue;
    border-radius: 50%;
}

.table {
    width: 100%;
    border: 0.5px solid blue;
    border-collapse: collapse;
}

.table tr td{
    padding: 15px 10px;
    border: 0.5px solid blue;
    font-weight: 400;
    font-size: large;
}
