.example-header-image {
    background-image: url('../../../../assets/img/quiz.png');
    background-size: cover;
  }

.row-right {
  display: flex;
  justify-content :flex-end;
}

.font-red {
  color: red;
}
