*{
    background-color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#MC{
    color: rgb(177, 177, 29);
}

.tag-line{
    display: flex;
    float: right;
    margin-top: 200px;
}

.button{
    margin-left: 160px;
}

button{
    background-color: rgb(255, 199, 39);
    padding-top: 10px;
    padding-bottom: 10px;
}

.mat-card{
    background-color:  rgba(255, 197, 39, 0.274);
    font-size: 20px;
}

#IB{
    background-color: rgba(255, 197, 39, 0);
    color: rgb(255, 255, 255);
    font-size: 25px;
}